body {
  color: #444;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
footer {
  padding: 3%;
}

header nav {
  background-color: #000;
  margin-bottom: 1%;
}

header .nav .menu {
  margin: 0;
  padding: 1%;
}
header nav .menu li {
  display: inline;
  margin-right: 1em;
}
header nav .menu a {
  color: white;
}
header nav .menu a:hover {
  color: red;
}
.hero {
  text-align: center;
  padding: 5% 0; 
  color: white;
  height: 100vh;
  background-image: url("https://i.pinimg.com/564x/ec/e3/be/ece3bea7b4139615a9e9146333251fb9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-positon: center;
}
.deckofCards {
  background-color: #eee;
  padding: 1% 3%;
  color: #444;
}
.deckofCards .cardDIV {
  background-color: #fff;
  border: 1px solid #000;
}
.deckofCards .cardDIV p {
  margin: 0;
  padding: 3% 5%;
}
.deckofCards .cardDIV img {
  width: 100%;
}

.deckofCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.deckofCards .cardDIV {
  width: 30%;
  margin-bottom: 1em;
}
h1 {
  text-align: center;
  color: white;
  background-image: url("https://i.pinimg.com/236x/c6/21/22/c62122464463d210a1864959c9b234f7.jpg")
}
p {
  text-align: center;
}